# EDA

In [1]:
import numpy as np
import pandas as pd
import mlxtend

import warnings
warnings.filterwarnings('ignore')

In [2]:
data_top1 = pd.read_csv('./data/mutandard_top1.csv', encoding='cp949', index_col=0)
data_top2 = pd.read_csv('./data/mutandard_top2.csv', encoding='cp949', index_col=0)

In [3]:
data_top1.head(3)

,user,gender,height,weight,item,size,star,content,size_eval,bright_eval,color_eval,thick_eval
0,LV 4 뉴봉,남성,180cm,85kg,테이퍼드 히든 밴딩 크롭 슬랙스 [다크 브라운],34,4,무신사 슬랙스 평이 좋아서 구매해봤습니다. 색과 퀄리티 두께감 다 마음에 들었는데 ...,보통이에요,어두워요,선명해요,두꺼워요
1,LV 4 뉴비루키맴버,남성,178cm,90kg,테이퍼드 히든 밴딩 크롭 슬랙스 [다크 그레이],36,5,무탠다드 슬랙스 편안하니 좋아요가볍게 입기 좋아요큰사이즈도 있어 만족해요,보통이에요,보통이에요,보통이에요,보통이에요
2,LV 4 뉴비루키맴버,남성,178cm,90kg,테이퍼드 히든 밴딩 크롭 슬랙스 [차콜 그레이],36,5,무탠다드 슬랙스 편안하니 좋아요가볍게 입기 좋아요큰사이즈도 있어 만족해요,보통이에요,보통이에요,보통이에요,보통이에요

In [4]:
print(data_top1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980 entries, 0 to 979
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user         980 non-null    object
 1   gender       980 non-null    object
 2   height       980 non-null    object
 3   weight       980 non-null    object
 4   item         980 non-null    object
 5   size         980 non-null    int64
 6   star         980 non-null    int64
 7   content      980 non-null    object
 8   size_eval    980 non-null    object
 9   bright_eval  980 non-null    object
 10  color_eval   980 non-null    object
 11  thick_eval   980 non-null    object
dtypes: int64(2), object(10)
memory usage: 99.5+ KB
None

In [5]:
data_top1.columns

Index(['user', 'gender', 'height', 'weight', 'item', 'size', 'star', 'content',
       'size_eval', 'bright_eval', 'color_eval', 'thick_eval'],
      dtype='object')

In [6]:
print("키 종류 수 : ", data_top1['height'].nunique())
print("몸무게 종류 수 : ", data_top1['weight'].nunique())
print("상품 종류 수 : ", data_top1['item'].nunique())
print("사이즈 종류 수 : ", data_top1['size'].nunique())
print("평점 종류 수 : ", data_top1['star'].nunique())
print("리뷰 종류 수 : ", data_top1['content'].nunique())

키 종류 수 :  32
몸무게 종류 수 :  55
상품 종류 수 :  23
사이즈 종류 수 :  12
평점 종류 수 :  4
리뷰 종류 수 :  723

In [7]:
data_top1['gender'].value_counts()

남성    960
여성     20
Name: gender, dtype: int64

In [8]:
data_top1['height'].value_counts().sort_index()

 150cm     2
 157cm     1
 158cm     1
 160cm     4
 161cm     1
 162cm     1
 163cm     2
 164cm     1
 165cm    43
 166cm    11
 167cm     8
 168cm    34
 169cm    16
 170cm    82
 171cm    33
 172cm    71
 173cm    74
 174cm    84
 175cm    96
 176cm    62
 177cm    82
 178cm    68
 179cm    29
 180cm    56
 181cm    29
 182cm    17
 183cm    29
 184cm    20
 185cm    13
 186cm     4
 187cm     3
 188cm     3
Name: height, dtype: int64

In [9]:
data_top1['weight'].value_counts()

 70kg     90
 68kg     71
 65kg     70
 75kg     59
 72kg     49
 67kg     43
 63kg     40
 78kg     39
 60kg     36
 73kg     29
 62kg     29
 66kg     28
 64kg     27
 80kg     25
 90kg     24
 69kg     23
 74kg     23
 58kg     23
 71kg     19
 61kg     18
 57kg     18
 76kg     18
 82kg     17
 77kg     16
 85kg     15
 94kg     12
 83kg     12
 81kg     10
 56kg      9
 50kg      9
 53kg      7
 55kg      6
 79kg      5
 86kg      5
 100kg     5
 88kg      5
 92kg      5
 84kg      4
 51kg      4
 87kg      4
 40kg      3
 95kg      3
 47kg      3
 59kg      3
 48kg      3
 91kg      2
 52kg      2
 102kg     2
 89kg      2
 93kg      1
 45kg      1
 98kg      1
 97kg      1
 54kg      1
 99kg      1
Name: weight, dtype: int64

In [10]:
data_top1['item'].value_counts()

테이퍼드 히든 밴딩 크롭 슬랙스 [블랙]         398
테이퍼드 히든 밴딩 크롭 슬랙스 [라이트 베이지]    104
테이퍼드 히든 밴딩 크롭 슬랙스 [미디엄 그레이]     78
테이퍼드 히든 밴딩 크롭 슬랙스 [라이트 그레이]     71
테이퍼드 히든 밴딩 크롭 슬랙스 [차콜 그레이]      51
테이퍼드 히든 밴딩 크롭 슬랙스 [더스티 베이지]     51
테이퍼드 히든 밴딩 크롭 슬랙스 [핑크 베이지]      41
테이퍼드 히든 밴딩 크롭 슬랙스 [크림]          29
테이퍼드 히든 밴딩 크롭 슬랙스 [화이트]         25
테이퍼드 히든 밴딩 크롭 슬랙스 [베이지]         24
테이퍼드 히든 밴딩 크롭 슬랙스 [그레이]         18
테이퍼드 히든 밴딩 크롭 슬랙스 [다크 그레이]      17
테이퍼드 히든 밴딩 크롭 슬랙스 [네이비]         15
테이퍼드 히든 밴딩 크롭 슬랙스 [블루 그레이]      14
테이퍼드 히든 밴딩 크롭 슬랙스 [더스티 크림]      10
테이퍼드 히든 밴딩 크롭 슬랙스 [라이트 브라운]     10
테이퍼드 히든 밴딩 크롭 슬랙스 [딥 블루]         6
테이퍼드 히든 밴딩 크롭 슬랙스 [더스티 카키]       5
테이퍼드 히든 밴딩 크롭 슬랙스 [머스터드]         3
테이퍼드 히든 밴딩 크롭 슬랙스 [더스티 블루]       3
테이퍼드 히든 밴딩 크롭 슬랙스 [브라운]          3
테이퍼드 히든 밴딩 크롭 슬랙스 [브릭]           2
테이퍼드 히든 밴딩 크롭 슬랙스 [다크 브라운]       2
Name: item, dtype: int64

In [11]:
data_top1['size'].value_counts().sort_index()

26      7
27     22
28     61
29     74
30    156
31    172
32    224
33    112
34     92
36     43
38     16
40      1
Name: size, dtype: int64

In [12]:
data_top1['star'].value_counts().sort_index()

1      2
3     10
4    114
5    854
Name: star, dtype: int64

In [13]:
data_top1['size_eval'].value_counts()

보통이에요    885
작아요       77
커요        18
Name: size_eval, dtype: int64

In [14]:
data_top1['bright_eval'].value_counts()

보통이에요    836
밝아요       80
어두워요      64
Name: bright_eval, dtype: int64

In [15]:
data_top1['color_eval'].value_counts()

보통이에요    786
선명해요     186
흐려요        8
Name: color_eval, dtype: int64

In [16]:
data_top1['thick_eval'].value_counts()

보통이에요    892
두꺼워요      44
얇아요       44
Name: thick_eval, dtype: int64

## Preprocessing

In [17]:
# cm, kg 없애고 int형으로 변경
data_top1['height'] = [int(height.strip().split('c')[0]) for height in data_top1['height']]
data_top1['weight'] = [int(weight.strip().split('k')[0]) for weight in data_top1['weight']]