In [1]:
import pandas as pd

In [53]:
page2_1 = pd.read_csv('hood_2_1_11page.csv', encoding='utf-8')
page2_2 = pd.read_csv('hood_2_12_30page.csv', encoding='utf-8')
page2_3 = pd.read_csv("hood_2_31_40page.csv", encoding='utf-8')
page2_4 = pd.read_csv('hood_2_41_70page.csv', encoding='utf-8')
page2_5 = pd.read_csv('hood_2_71_90page.csv', encoding='utf-8')

In [38]:
print(page2_1.shape)
print(page2_2.shape)
print(page2_3.shape)
print(page2_4.shape)
print(page2_5.shape)

(1100, 17)
(1800, 17)
(1000, 17)
(3000, 21)
(1908, 17)

In [54]:
page2 = pd.concat([page2_1, page2_2, page2_3, page2_4, page2_5])
page2 = page2.iloc[:, 0:17]
#page2.to_csv('hood_2page.csv')

In [40]:
page2.isnull().sum()

user              0
gender          354
height          354
weight          354
item              0
size              0
star              0
content           0
size_eval       165
bright_eval     165
color_eval      165
thick_eval      165
cm             4877
총장             4877
어깨너비           4928
가슴단면           4877
소매길이           4877
dtype: int64

- 상의인 후드와 관계없는 컬럼(허리단면, 허벅지단면, 밑위, 밑단단면) 삭제 : 총 17개 칼럼

In [41]:
page1_20 = pd.read_csv('hood_1to20.csv', encoding='utf-8')
page1_20.shape

(33980, 17)

In [42]:
final = pd.concat([page2, page1_20])
#final.to_csv('hood_page1to20_final.csv')

In [31]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42788 entries, 0 to 33979
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user         42788 non-null  object
 1   gender       40229 non-null  object
 2   height       40229 non-null  object
 3   weight       40229 non-null  object
 4   item         42788 non-null  object
 5   size         42788 non-null  object
 6   star         42788 non-null  float64
 7   content      42788 non-null  object
 8   size_eval    42176 non-null  object
 9   bright_eval  42176 non-null  object
 10  color_eval   42176 non-null  object
 11  thick_eval   42176 non-null  object
 12  cm           25232 non-null  object
 13  총장           25232 non-null  float64
 14  어깨너비         24211 non-null  float64
 15  가슴단면         25232 non-null  float64
 16  소매길이         25125 non-null  float64
dtypes: float64(5), object(12)
memory usage: 5.9+ MB

In [44]:
final.reset_index(drop=True, inplace=True)
one = final.iloc[:, [0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16]]
one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42788 entries, 0 to 42787
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user         42788 non-null  object
 1   gender       40229 non-null  object
 2   height       40229 non-null  object
 3   weight       40229 non-null  object
 4   size         42788 non-null  object
 5   star         42788 non-null  float64
 6   content      42788 non-null  object
 7   size_eval    42176 non-null  object
 8   bright_eval  42176 non-null  object
 9   color_eval   42176 non-null  object
 10  thick_eval   42176 non-null  object
 11  cm           25232 non-null  object
 12  총장           25232 non-null  float64
 13  어깨너비         24211 non-null  float64
 14  가슴단면         25232 non-null  float64
 15  소매길이         25125 non-null  float64
dtypes: float64(5), object(11)
memory usage: 5.2+ MB

In [47]:
final_nodup = one.drop_duplicates(inplace=False)
indexs = final_nodup.index
final_nodup = final.iloc[indexs, :]
final_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35752 entries, 0 to 42787
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user         35752 non-null  object
 1   gender       33350 non-null  object
 2   height       33350 non-null  object
 3   weight       33350 non-null  object
 4   item         35752 non-null  object
 5   size         35752 non-null  object
 6   star         35752 non-null  float64
 7   content      35752 non-null  object
 8   size_eval    35183 non-null  object
 9   bright_eval  35183 non-null  object
 10  color_eval   35183 non-null  object
 11  thick_eval   35183 non-null  object
 12  cm           21905 non-null  object
 13  총장           21905 non-null  float64
 14  어깨너비         20885 non-null  float64
 15  가슴단면         21905 non-null  float64
 16  소매길이         21798 non-null  float64
dtypes: float64(5), object(12)
memory usage: 4.9+ MB

In [48]:
final_nodup.to_csv('hood_page1to20_final_nodup.csv')

In [49]:
page2.shape

(8808, 17)

In [55]:
page2.reset_index(drop=True, inplace=True)
two = page2.iloc[:, [0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16]]
two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8808 entries, 0 to 8807
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user         8808 non-null   object
 1   gender       8454 non-null   object
 2   height       8454 non-null   object
 3   weight       8454 non-null   object
 4   size         8808 non-null   object
 5   star         8808 non-null   float64
 6   content      8808 non-null   object
 7   size_eval    8643 non-null   object
 8   bright_eval  8643 non-null   object
 9   color_eval   8643 non-null   object
 10  thick_eval   8643 non-null   object
 11  cm           3931 non-null   object
 12  총장           3931 non-null   float64
 13  어깨너비         3880 non-null   float64
 14  가슴단면         3931 non-null   float64
 15  소매길이         3931 non-null   float64
dtypes: float64(5), object(11)
memory usage: 1.1+ MB

In [56]:
page2_nodup = two.drop_duplicates(inplace=False)
indexss = page2_nodup.index
page2_nodup = page2.iloc[indexss, :]
page2_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6640 entries, 0 to 8607
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user         6640 non-null   object
 1   gender       6300 non-null   object
 2   height       6300 non-null   object
 3   weight       6300 non-null   object
 4   item         6640 non-null   object
 5   size         6640 non-null   object
 6   star         6640 non-null   float64
 7   content      6640 non-null   object
 8   size_eval    6475 non-null   object
 9   bright_eval  6475 non-null   object
 10  color_eval   6475 non-null   object
 11  thick_eval   6475 non-null   object
 12  cm           2953 non-null   object
 13  총장           2953 non-null   float64
 14  어깨너비         2902 non-null   float64
 15  가슴단면         2953 non-null   float64
 16  소매길이         2953 non-null   float64
dtypes: float64(5), object(12)
memory usage: 933.8+ KB